<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>iMusic</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>iMusic</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 iJackey. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>需要访问音乐文件</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>需要访问文档文件夹以扫描音乐文件</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>需要访问下载文件夹以扫描音乐文件</string>
	<key>NSMusicFolderUsageDescription</key>
	<string>需要访问音乐文件夹以扫描音乐文件</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Audio File</string>
			<key>UTTypeIdentifier</key>
			<string>public.audio</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mp3</string>
					<string>flac</string>
					<string>wav</string>
					<string>m4a</string>
					<string>aac</string>
					<string>ogg</string>
					<string>wma</string>
					<string>ape</string>
					<string>aiff</string>
					<string>opus</string>
					<string>alac</string>
					<string>dsd</string>
					<string>dsf</string>
					<string>dff</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
